<p>
  <a href="https://bootstrap-levels.matchthetarget.com/levels/01_other_buttons" target="_blank">Target</button>
</p>

<!-- Write CSS in public/css/my_styles.css to make the following <button> tags look like buttons of various colors -->

<button class="fancy-button fancy-button-primary">Primary</button>
<button class="fancy-button fancy-button-secondary">Secondary</button>
<button class="fancy-button fancy-button-success">Success</button>
<button class="fancy-button fancy-button-danger">Danger</button>
<button class="fancy-button fancy-button-warning">Warning</button>
<button class="fancy-button fancy-button-info">Info</button>

<p>Less intrusive variants:</p>

<p>
  <button class="unobtrusive-button default">Primary (unobtrusive)</button>
</p>

<p>
  <button class="unobtrusive-button default">Secondary (unobtrusive)</button>
</p>

<p>
  <button class="unobtrusive-button success">Success (unobtrusive)</button>
</p>

<p>
  <button class="unobtrusive-button danger">Danger (unobtrusive)</button>
</p>

<p>
  <button class="unobtrusive-button warning">Warning (unobtrusive)</button>
</p>

<p>
  <button class="unobtrusive-button info">Info (unobtrusive)</button>
</p>


<a class="btn btn-primary">Primary</a>
<a class="btn btn-secondary">Secondary</a>
<a class="btn btn-success">Success</a>
<a class="btn btn-danger">Danger</a>
<a class="btn btn-warning">Warning</a>
<a class="btn btn-info">Info</a>
<a class="btn btn-outline-primary">Primary (unobtrusive)</a>
<a class="btn btn-outline-secondary">Secondary (unobtrusive)</a>
<a class="btn btn-outline-success">Success (unobtrusive)</a>
<a class="btn btn-outline-danger">Danger (unobtrusive)</a>
<a class="btn btn-outline-warning">Warning (unobtrusive)</a>
<a class="btn btn-outline-info">Info (unobtrusive)</a>
